# Exclusion des fichiers et dossiers spécifiques

# Système
.DS_Store

# Node.js
node_modules/
npm-debug.log

# Environnements
.env
.env.local
.env.*.local

# Build
dist/
build/

# Cache
.cache/
.parcel-cache/

# Logs
logs/
*.log

# IDEs et éditeurs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
